.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
html, body {
    width:100%;
    height:100%;
    margin:0;
    text-align: center;
    padding:0;
    overflow-x: hidden;
}
body{
    font-size: 20px;
    width: 100%;
    margin: 0;
    background-color: #6514a7;
}
main {
    background-color: #6514a7;
}
h1,h2,h3, p, a, li{
    color: white;
}
h1,h2,h3,a,li {
    font-family: 'Montserrat';
}
p{
    font-family: 'Montserrat';
}
footer {
    position: relative;
    top:50px;
    text-align: center;
    background-color: #1F14A7;
    z-index: 2;
    border-radius: 5px 5px 0 0;
    
}
@font-face{
    font-family: "Vulf Sans";
    src: url("../fonts/Vulf Sans/VulfSans-Light.otf");
}
#button{
    z-index: 2;
    color:white;
    background-color: black;
    font-family: 'Vulf Sans';
    text-decoration: none;
    position: fixed;
    padding: 10px;
    left: 10%;
    top: 5%;
    /* opacity: 65%; */
    background-color: rgba(0,0,0,65%);
}
#logo_whole {
    position: relative;
    top: 70px;
}
#logo {
    display: block;
    margin: auto;
}
#subhead{
    position: relative;
    z-index: 1;
    top: -100px;
    text-align: center;
}
#problem_solution {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
}
#problem_solution p{
    text-align: left;
    position:relative;
    color: black;
}
#problem_solution h2 {
    color: black;
    text-align:left;
}
#team{
    margin: 0 auto;
    display: inline-block;
}
.teammate{
    margin: auto;
    width: 500px;
    padding: 15px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}
.teammate img{
    margin: auto;
    width: 150px;
    display: block;
    border-radius: 1000px;
}
.teammate p{
    position: relative;
    text-align: center;
    top: -40px;
}
.item{
    width:40%;
    float:left;
    padding: 0 15px;
    position: relative;
    /* display: inline-block; */
}
.item h3{
    text-align: center;
}
.item img{
    position: relative;
    display: block;
    padding: 0 50px;
}
#background_info li{
    list-style: none;
}
#background_info ul{
    padding: 0 10px;
}
#background_info {
    text-align: left;
}
#goals{
    border-radius: 10px;
    background-color: white;
}
#goals h2{
    color: black;
    text-align: center;
    padding: 15px 0;
}
.goal img,h3{
    display: inline-block;
}
.goal{
    padding: 0 35px;
}
.goal h3,p{
    color:black;
}
.goal p{
    position: relative;
    top: -40px;
    color:black
}
#userflow {
    padding: 0 15px;
}
#userflow h1{
    text-align: center;
}
#userflow h3,p{
    color:white
}
#userflow p{
    position: relative;
    top: -20px;
}
#userflow img{
    display: block;
    margin: auto;
    width:350px;
}
#wireframes h1{
    text-align: center;
    color: black;
}
#wireframes{
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
#wireframes img{
    text-align: center;
}
#final {
    position: relative;
    z-index: 1;
    padding: 25px;
}
#final h1{
    text-align: center;
}
#final p {
    font-size: 1em;
}
#users {
    text-align: center;
}
.float {
    float: left;
}
/* #rect_bg1{
    background-image: url('../images/jamr/Rectangle\ 65.png');
    background-repeat: no-repeat;
    background-position: 30% 150%;

}
#rect_bg2{
    background-image: url('../images/jamr/Rectangle\ 66.png');
    background-position: 20% 205%;
    background-repeat: no-repeat;

}
*/
#rect_bg1 p{
    width: auto;
}
#rect_bg2 p{
    width: auto;
} 
#future_work {
    position: relative;
    top: 90px;
    /* padding: 15px; */
    border-radius: 5px;
    background-color: white;
    color: black;
}
#future_work h2{
    padding-top: 20px;
    color: black;
    text-align: center;
}
#future_work li{
    color: black;
    line-height: 1.5em;
    position: relative;
    top: -10px;
    padding: 10px 15px;
}
#images {
    display: block;
    text-align: center;
}
#images1{
    display: block;
    text-align: center;
}
#images2{
    display: block;
    text-align: center;
}
#images3{
    display: block;
    text-align: center;
}
@media(max-width: 500px) {
    .teammate{
        width: auto;
    }
    .teammate p{
        width: 250px;
    }
    #background_info {
        text-align: left;
    }
}
@media (min-width: 360px) {
    #rect_bg1{
        background-image: none;
    }
    #rect_bg2{
        background-image: none;
    }
    #rect_bg1 p{
        color: white;
    }
    #rect_bg2 p{
        color: white;
    }
}
@media (min-width: 460px){
    #wireframes img{
        position: relative;
        left: 2%;
        padding: 0 10px;
    }

    
    #future_work ol{
        padding: 25px;
        text-align: center;
        list-style-position: inside;

    }
}
@media (min-width: 560px){
    body{
        font-size: 25px;
    }

    #problem_solution{
        width: auto;
        padding: 25px 15%;
    }
    #final p{
        padding: 0 50px;
    }
    .item{
        left: 15%;
    }
    .goal{
        padding: 0 10%;
        display: block;
        margin: auto;
    }
    #userflow h3, p {
        padding: 0 20%;
    }
}
@media (min-width: 1000px){
    #problem_solution{
        padding: 25px 20%;
    }
    #final p{
        padding: 0 30%;
    }
    .item{
        left: 20%;
    }
    
    .goal{
        padding: 0 25%;
    }
    #wireframes{
        padding: 0 10%;
    }
    #userflow h3{
        padding: 0 25%;
    }
    #userflow p{
        padding: 0 25%;
    }
}

