[aos="fade"] {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

a.project {
  display: block;
  text-decoration: none;
  color: white;
}

.project:hover {
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
}

.project:hover img {
  display: inline-block;
}

.project {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

.project h3 {
  font-family: 'Vulf Sans Bold';
  font-size: 50px;
  padding-top: 20px;
}

.project p {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: -20px;
}

.project img {
  width: 70px;
  margin: 20px;
  display: none;
  bottom: 100px;
}

@media screen and (max-width: 980px) {
  .project .project:hover {
    -webkit-transition: none;
    transition: none;
  }
}

.freechat {
  background-color: #000;
  color: white;
}

.freechat img {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.details {
  text-align: center;
  border-radius: 25px;
}

.details p {
  text-align: center;
}

.details .exit {
  color: white;
  position: absolute;
  z-index: 2;
  left: 0;
  padding: 10px 25px;
}

.details .external-links a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 25px;
}

.details .external-links a svg {
  font-size: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.details .external-links a p {
  text-align: center;
  display: inline-block;
}

.details .external-links a:hover {
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
}

.details .problem-solution {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 25px;
}

.details .problem-solution .text-block {
  width: 50%;
  display: -ms-inline-grid;
  display: inline-grid;
}

.details .problem-solution h4 {
  text-align: left;
  font-family: 'Vulf Sans Bold';
}

.details .problem-solution p {
  font-size: 20px;
  text-align: left;
}

@media screen and (max-width: 980px) {
  .details .problem-solution .text-block {
    width: 100%;
    display: inline-block;
  }
  .details .problem-solution p {
    font-size: 18px;
  }
}

.details .item {
  border-bottom: .5px solid white;
}

.details .item h2 {
  font-family: 'Vulf Sans Bold';
  width: 100%;
  padding: 45px;
}

.details .item img {
  width: 600px;
}

.details .item p {
  text-align: left;
  font-size: 20px;
  padding: 20px;
}

.details .item p a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 980px) {
  .details .item img {
    width: 300px;
  }
}

a.next {
  display: block;
  margin-top: 40px;
  text-decoration: none;
}

a.next div {
  border-radius: 25px;
}

a.next h3 {
  font-family: 'Vulf Sans Bold';
  text-decoration: underline;
  padding: 25px;
}

.pikatsume {
  background-color: #daa520;
}

.pikatsume img {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.jamr {
  color: white;
  background-color: #cb686e;
}

.jamr img {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.aboop {
  color: white;
  background-color: #3068a7;
}

.aboop img {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.colab {
  color: white;
  background-color: #2fbba3;
}

.colab img {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.ircam {
  color: white;
  background-color: #6232BF;
}

.ircam img {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
/*# sourceMappingURL=Project.css.map */