.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

@font-face {
  font-family: "Vulf Sans";
  src: url("../../fonts/Vulf Sans/VulfSans-Light.otf");
}

@font-face {
  font-family: "Vulf Sans Bold";
  src: url("../../fonts/Vulf Sans/VulfSans-Medium.otf");
}

@font-face {
  font-family: "Vulf Code";
  src: url("../../fonts/VulfMonoCode-Light.otf");
}

header {
  background-color: #FFFEF7;
  height: 600px;
  width: 110%;
}

h2 {
  font-family: 'Vulf Sans';
  width: 40%;
  font-size: 1.3em;
  top: 25%;
  position: relative;
  margin: auto;
  right: 2%;
}

strong {
  font-family: 'Vulf Sans Bold';
}

body {
  font-size: 30px;
  margin: 0;
  overflow-x: hidden;
}

figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.card_label {
  position: relative;
  /* margin: 0 auto; */
}

.card {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 0 0 0 25px;
  /* left: 15%; */
  width: 50%;
  /* margin: 50px; */
  float: right;
  margin-top: -20px;
  padding: 10px;
  /* margin: 10px; */
  position: relative;
  height: 200px;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
}

.card h3 {
  font-family: 'Alatsi', normal;
  font-size: 2em;
}

.card p {
  font-family: 'Vulf Sans';
}

#bio a {
  color: red;
}

#jacob {
  position: absolute;
  right: 15px;
  top: 100px;
}

#right_nav {
  right: 10px;
  position: relative;
  float: right;
}

#about {
  /* float: right; */
  text-decoration: none;
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  position: relative;
  right: 220px;
}

#header_palmtree {
  position: relative;
  right: 120px;
  top: 20px;
}

#profile {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: left;
  display: inline-block;
  width: 100%;
}

#profile h1 {
  font-family: 'Rage';
  font-weight: normal;
  font-size: 3em;
}

#profile h2 {
  font-family: 'Alatsi', normal, 1em;
}

#CoLab {
  background-color: #0DBBA3;
  z-index: 3;
}

#CoLab p {
  position: relative;
  bottom: 30px;
}

#CoLab h3 {
  position: relative;
  bottom: 30px;
}

#CoLab img {
  position: relative;
}

#Jamr {
  background-color: #6514a7;
  z-index: 2;
}

#ircam {
  background-color: #1F14A7;
  z-index: 1;
}

@font-face {
  font-family: "Rage";
  src: url("../../fonts/RAGE.TTF");
}

@media (min-width: 750px) {
  main {
    position: relative;
    bottom: 150px;
  }
}

@media (min-width: 480px) {
  #profile {
    visibility: hidden;
    display: none;
  }
  .card h3 {
    position: relative;
    bottom: 15px;
  }
  .card p {
    position: relative;
    visibility: hidden;
  }
  .card :hover > p {
    visibility: visible;
  }
  .card {
    display: block;
    position: relative;
    padding-bottom: 25px;
  }
  #CoLab img {
    position: relative;
    margin: auto;
    bottom: 160px;
  }
  #Jamr img {
    position: relative;
    margin: auto;
    bottom: 140px;
  }
  #ircam img {
    position: relative;
    margin: auto;
    bottom: 140px;
  }
  .card_label {
    position: relative;
    bottom: 40px;
    height: 190px;
  }
}

@media (min-width: 850px) {
  body {
    position: relative;
    top: 50px;
  }
  .card {
    position: relative;
    margin: 5%;
    right: 15%;
    border-radius: 25px;
  }
  #CoLab h3 {
    padding: 15px;
    bottom: 25px;
  }
  #desktop_cards {
    position: relative;
    left: 5%;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 850px) and (min-width: 480px) {
  #CoLab p {
    position: relative;
    top: 0px;
  }
}

@media (max-width: 850px) {
  body {
    font-size: 25px;
  }
  header {
    display: none;
  }
  #profile {
    background-color: white;
    z-index: 4;
    width: 110%;
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
    visibility: visible;
    display: block;
  }
  #CoLab p {
    position: relative;
  }
  #logo {
    width: 200px;
    margin-top: 100px;
    padding-bottom: 20px;
    margin-left: 45px;
  }
  .card_label {
    display: inline-block;
  }
  .card {
    text-align: left;
    float: none;
    width: 110%;
    height: 230px;
    margin-top: -80px;
    padding-top: 10px;
    position: relative;
    display: block;
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
  }
  .card h3 {
    margin-left: 75px;
    top: 40px;
    /* background-color: blue; */
    position: relative;
    line-height: 1em;
    text-align: left;
    padding-top: 50px;
  }
  .card p {
    text-align: center;
    left: 35px;
    visibility: visible;
    /* background-color: chartreuse; */
  }
  .icon {
    /* padding-left: 200px; */
    display: inline-block;
    position: relative;
    left: 250px;
    top: -100px;
  }
  #palmtree {
    position: relative;
    left: 20px;
    bottom: 30px;
  }
}

@media (max-width: 480px) {
  .card h3 {
    position: relative;
    top: -1px;
  }
  .card p {
    position: relative;
    top: -40px;
  }
  .icon {
    position: relative;
    top: -136px;
    left: 270px;
  }
}

@media (max-width: 850px) and (min-width: 450px) {
  .card h3, img, p {
    text-align: center;
  }
  .card_label {
    /* background-color: brown; */
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    left: -50px;
  }
  .card_label h3, p {
    text-align: center;
  }
  .card {
    text-align: center;
    height: 190px;
  }
  #palmtree {
    position: relative;
    left: 75px;
  }
  #profile {
    text-align: center;
  }
}
/*# sourceMappingURL=App.css.map */