$mobile-breakpoint: 980px;
$react: #33d8ff;
$node: #68a063;
$sass: #ce679a;
// Body of Portfolio
main {
    display: block;
    text-align: center;
    margin-top: 150px;
    margin-right: 100px;
    .headshot {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        // background: url(/images/headshots/portfolio_pic.jpg);
        // background-position: center;
        -webkit-box-shadow: 0px 3px 8px 0px rgba(138,126,138,1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(138,126,138,1);
    box-shadow: 0px 3px 8px 0px rgba(138,126,138,1);
    }
    h1 {
        font-family: 'Vulf Sans Bold';
        position: relative;
        font-size: 60px;
        padding: 20px;
    }
    p {
        font-family: 'Vulf Sans';
        text-align: left;
        padding: 20px;
        span {
            font-family: 'Vulf Sans Bold';
        }
    }
    .tools {
        border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        p {
            font-family: 'Vulf Code';
            padding: 25px;
            font-size: 30px;
            line-height: 1.25em;
        }
        .tool {
            display: inline-block;
            padding: 30px;
            font-size: 90px;
            // transition: all .9s ease-in-out; 
            p {
            transition: all .2s ease-in-out; 
                font-size: 30px;
                opacity: 0;
                // visibility: hidden;
            }
            :hover {
            transition: all .5s ease-in-out; 
                transform: scale(1.1);
            }
            :hover+p {
                // visibility: visible;
                opacity: 1;
            }
            .react {
                color: $react;
                :hover {
                    transform: none;
                }
            }
            .node {
                color: $node;
                :hover {
                    transform: none;
                }
            }
            .sass {
                color: $sass;
                :hover {
                    transform: none;
                }
            }
        }
    }

    @media screen and (max-width: $mobile-breakpoint){
    margin-top: 50px;
        .headshot {
            width: 200px;
            height: 200px;
        }
        h1 {
            font-size: 40px;
            padding: 20px;
        }
        p {
            font-size: 20px
        }
        .tools {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            p {
                font-size: 20px
            }
            .tool {
                // margin: 20px;
                width: 100px;
                font-size: 50px;
                p {
                    opacity: 1;
                    font-size: 15px;
                    padding: 0;
                }
                :hover {
                    transform: none;
                }
            }
        }
    }
}