body{
    font-size: 30px;
}
h1,h2{
    font-family: 'Montserrat';
}
p {
    font-family: 'Montserrat';
    color: #707070;
}
a {
    color: black;
}
.card h3 {
    font-family: 'Alatsi';
    color: white;
}
.card p {
    color: white;
    font-family: 'Montserrat';
}

@media (min-width: 480px){
/* Browser */
#mobile_header {
     display: none;
 }
 #back{
     float: right;
     font-size: 1.5em;
     position: relative;
     line-height: 4em;
     font-family: 'Montserrat';
     text-decoration: underline;
     font-weight: bold;
     right: 30%;
 }
 h2 {
     font-size: 1.25em;
     position: relative;
     left: 2%;
 }
 h3{
     display: block;
 }
 p {
     padding-left: 40px;
     width: 45%;
     line-height: 1.5em;
 }
 footer {
     clear: both;
     width: 50%;
 }
 #logo {
    position: relative;
    left:10%;
}
 #headshot {
     position: absolute;
     z-index: -1;
     right: 0;
     top: 0;
     width: 50%;
 }
 #contact_links a{
     display: table;
     font-size: 1em;
     line-height: 2em;
     position: relative;
     left:3%;
     font-family: 'Montserrat';
 }
 #Colab {
     position: relative;
     height: 30%;
 }
 #Jamr {
     background-color:  #6514a7;
 }
 #ircam {
     background-color: #1F14A7;
 }
 .card {
     float: left;
     color: white;
     text-decoration: none;
     text-align: center;
     display: block;
     width: 20%;
     left: 10%;
     margin: 20px;
     /* bottom: 20px; */
     position: relative;
     background-color: #0DBBA3;
     font-family: 'Alatsi';
     font-size: 1.25em;
    border-radius: 0 0 0 25px;
    box-shadow: 0px 4px 5px rgba(0,0,0,.7);

     /* top: 100px; */
 }
 .card h3 {
     position: relative;
     /* top:20px; */
 }
 .card p{
     color: white;
     padding: 0;
     font-size: .75em;
     position: relative;
     top: -20px;
     font-family: 'Montserrat';
     display: inline;
     /* font-weight: bold; */
 }
 .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
}
@media (max-width:1600px) {
    footer{
        width: 90%;        
    }
    .card {
        position: relative;
        left: 20%;
        width: 20%;
        float: left;
    }
    .card h3{
        margin: 0;
        top: 10px;
         position: relative;
    }
    .card p{
        position: relative;
        top: 1px;
    }
}
@media (max-width:1400px) {
    body{
        font-size: 23px;
    }
    footer{
        width: 90%;        
    }
    .card {
        position: relative;
        /* font-size: 1.5em; */
        top: 20%;
        width: 20%;
        float: left;
    }
    .card h3{
        margin: 0;
        top: 10px;
         position: relative;
    }
    .card p{
        position: relative;
        top: 1px;
    }
}
@media (max-width: 1100px) {
    footer{
        position: relative;
        top: -100px;
        right: -170px;
    }
    .card{
        position: relative;
        float: left;
        display: inline;
    }
}
@media (max-width: 1000px) {
    body{
        font-size: 20px;
    }
    #logo{
        width:200px
    }
    p{
        padding-left: 20px;
    }
    /* .card {
        float: none;
        display: block;
        position: relative;
        left: 50%;
    } */
}
@media (max-width: 850px) {
 /* Mobile */
 header{
     width: 100%;
     position: relative;
     /* background-color: yellow; */
 }
 main{
     width: 100%;
 }
    body {
        text-align: center;
        width: 100%;
    }
    p {
        margin: 0;
        text-align: left;
        padding: 0;
        position: relative;
        width: 70%;
        left: 25%;
    }
    footer {
        width: 90%;
    }
    #mobile_logo{
        display: block;
        position: relative;
        display: inline-block;
        /* right: 50%; */
        /* left: 30%; */
        text-align: center;
    }
    #mobile_back {
        display: block;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Montserrat';
     text-decoration: underline;
     font-weight: bold;
     line-height: 2.5em;
    }
    #browser_header{
     display: none;
    }
    #mobile_header {
        display: block;
    }
    #headshot{
        float: none;
        margin: 0;
        z-index: 0;
        display: inline-block;
        text-align: center;
        position: relative;
    }
    #contact {
        display: block;
    }
    #contact_links a{
        display: block;
        font-size: 1em;
        line-height: 2em;
        position: relative;
        left:3%;
        font-family: 'Montserrat';
    }
 .card {
    top: 100px;
    right: 0;
    left: 15px;
    display: block;
    width: 60%;
    float: none;
}
.card p{
    position: relative;
    left: -5px;
}
}
@media (max-width: 700px){
    footer{
        width: 100%;
        left: 0;
        height: auto;
        /* background-color: black; */
    }
    p {
        left: 20%;
    }
    .card {
        text-align: center;
        left: 20%;
        top: 100px;
        position: relative;
        display: block;
        width: 60%;
        float: none;
    }
}
@media (max-width: 500px){
    body{
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    footer {
        margin-top: 20px;
        height: 100px;
        z-index: -1;
    }
    p {
        width: 90%;
        left: 4%;
        font-size: .2;
        line-height: 1.2em;
    }
    #mobile_logo {
        width: 200px;
    }
    #mobile_back {
        font-size: 1em;
    }
    #headshot{
        width: 300px;
    }
    #Colab {
        position: relative;
        background-color: #0DBBA3;
        z-index: 3;
    }
    #Colab h3 {
    }
    #Colab p {
    }
    #Jamr {
        z-index: 2;
        background-color:  #6514a7;
    }
    #ircam {
        z-index: 1;
        margin-bottom: 50px;
        background-color: #1F14A7;
    }
    .card {
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        width: 109%;
        margin-top: -15px;
        left: -10px;
        height: 100px;
        position: relative;
        background-color: #0DBBA3;
        font-family: 'Alatsi';
        font-size: 1.25em;
       border-radius: 0 0 0 25px;
       box-shadow: 0px 4px 5px rgba(0,0,0,.7);
    }
    .card h3 {
        position: relative;
        top: 20px;
    }
    .card p {
        position: relative;
        top: 20px;
        text-align: center;
        width: 100%;
    }
}