body{
    font-size: 30px;
}
.card{
    text-align: center;
    text-decoration: none;
    display: block;    
    color: white;
    border-radius: 0 0 0 25px;
    width: 25%;
    margin: 50px;
    float:left;
    position: relative;
    height: 200px;
    box-shadow: 0px 4px 5px rgba(0,0,0,.7);
}
.card h3{
    font-family: 'Alatsi', normal;
    font-size: 2em;

}
.card p{
    font-family: 'Montserrat', bold;
}
#header_logo{
    width:250px;
    position: relative;
    left: 50px;
    display: inline-block;
}
#right_nav {
    float: right;
}
#about{
    /* float: right; */
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    position: relative;
    right: 220px;
}
#header_palmtree{
    position: relative;
    right: 120px;
    top:20px;
}

#profile {
    box-shadow: none;
    text-align: left;
    display: inline-block;
    width:100%;
}
#profile h1{
    font-family: 'Rage';
    font-weight: normal;
    font-size: 3em;
}
#profile h2{
    font-family: 'Alatsi', normal, 1em;
}
#CoLab {
    background-color: #0DBBA3;
    z-index: 3;
}
#Jamr {
    background-color: #6514a7;
    z-index: 2;
}
#ircam {
    background-color: #1F14A7;
    z-index: 1;
}
@font-face{
    font-family: "Rage";
    src: url("../../fonts/RAGE.TTF");
}
@media (min-width: 480px){
    #profile {
        visibility: hidden;
    }
    .card h3,p {
        position: relative;
        bottom: 40px;
        right: 100px;
    }
    .card p{
        position: relative;
        bottom: 100px;
        /* visibility: hidden; */
    }
    .card p:hover{
        visibility: visible;
    }
    .icon{
        /* display: none; */
        position: relative;
        bottom: 200px;
        left: 120px;
    }

}

@media (max-width: 1700px) {
    .icon {
        display: none;
    }
    .card h3,p {
        position: relative;
        left: 0px;
        /* bottom: 10px; */
    }
}

@media (max-width: 700px) {
    body {
        font-size: 20px;
    }
    .card p {
        visibility: hidden;
    }
    #right_nav {
        float:none;
        position: relative;
        top: 100px;
    }
    .icon{
        display: none;
    }
}

@media (max-width: 480px) {
    body{
        font-size: 25px;
    }
    header {
        display: none;
    }
    #profile {
        background-color: white;
        z-index: 4;
        width: 110%;
    box-shadow: 0px 4px 5px rgba(0,0,0,.7);
    }
    #logo{
        width: 200px;
        margin-top: 100px;
        padding-bottom: 20px;
        margin-left: 45px;
    }
    .icon {
        /* padding-left: 200px; */
        display: block;
        position: relative;
        left: 270px;
        bottom: 100px;;
    }
    .card{
        text-align: left;
        margin: -50px;
        float: none;
        width: 110%;
        margin-left: -9px;
        height: 230px;
        margin-top: -80px;
        padding-top: 10px;
        position: relative;
        display: block;
        box-shadow: 0px 4px 5px rgba(0,0,0,.7);
    }
    .card h3{
        margin-right:150px;
        /* background-color: blue; */
        position: relative;
        line-height: 1em;
        text-align: center;
        padding-top: 50px;
    }
    .card p{
        text-align: center;
        margin-right: 150px;
        margin-top:-50px;
        visibility: visible;
        /* background-color: chartreuse; */
    }
    #palmtree{
        position: relative;
        left:20px;
        bottom: 30px;
    }
}
@media (max-width: 320px) {
    body{
        /* font-size: 18px; */
    }
    header {
        display: none;

    }
    #profile{
    box-shadow: 0px 4px 5px rgba(0,0,0,.7);
    }
    #logo{
        position: relative;
        width:170px;
        right: 40px;
    }
    #palmtree{
        position: relative;
        top:-25px;
        /* right: -20px; */
    }
    #CoLab h3,p{
        position: relative;
        top: 10px;
    }
    #CoLab img{
        top:-70px;
    }
    .icon{
        position: relative;
        top: -110px;
        left: 210px;
    }
    .card{
        text-align: left;
        margin: -50px;
        float: none;
        width: 110%;
        margin-left: -9px;
        margin-top: -90px;
        position: relative;
        display: block;
        box-shadow: 0px 4px 5px rgba(0,0,0,.7);
    }
    .card h3{
        margin-right:150px;
        /* background-color: blue; */
        position: relative;
        line-height: 1em;
        text-align: center;
        padding-top: 50px;
    }
    .card p{
        text-align: center;
        margin-right: 150px;
        margin-top:-50px;
        visibility: visible;
        /* background-color: chartreuse; */
    }
}