body{
    font-size: 30px;
}
.card{
    text-decoration: none;
    display: block;    
    color: white;
    border-radius: 0 0 0 25px;
    width: 25%;
    float:left;
    position: relative;
    height: 200px;
}
.card h3{
    font-family: 'Alatsi',bold;
    font-size: 2.5em;

}
.card p{
    font-family: 'Montserrat', bold;
}

#profile {
    background-color: white;
    z-index: 4;
}
#profile h1{
    font-family: 'Rage';
    font-weight: normal;
    font-size: 3em;
}
#profile h2{
    font-family: 'Alatsi', normal, 1em;
}
#CoLab {
    background-color: #0DBBA3;
    z-index: 3;
}
#Jamr {
    background-color: #6514a7;
    z-index: 2;
}
#ircam {
    background-color: #1F14A7;
    z-index: 1;
}
@font-face{
    font-family: "Rage";
    src: url("../../fonts/RAGE.TTF");
}

@media (max-width: 480px) {
    body{
        font-size: 25px;
    }
    #logo{
        width: 200px;
        margin-top: 100px;
        padding-bottom: 20px;
        margin-left: 45px;
    }
    .card{
        float: none;
        width: 110%;
        margin-left: -9px;
        height: auto;
        margin-top: -80px;
        padding-top: 10px;
        position: relative;
        display: block;
    }
    .card h3{
        margin-right:150px;
        /* background-color: blue; */
        position: relative;
        line-height: 1em;
        text-align: center;
        padding-top: 50px;
    }
    .card p{
        text-align: center;
        margin-right: 150px;
        margin-top:-50px;
        /* background-color: chartreuse; */
    }
}
@media (max-width: 320px) {
    body{
        font-size: 18px;
    }
    .card{
        float: none;
        width: 110%;
        margin-left: -9px;
        margin-top: -90px;
        position: relative;
        display: block;
    }
    .card h3{
        margin-right:150px;
        /* background-color: blue; */
        position: relative;
        line-height: 1em;
        text-align: center;
        padding-top: 50px;
    }
    .card p{
        text-align: center;
        margin-right: 150px;
        margin-top:-50px;
        /* background-color: chartreuse; */
    }
}