body{
    text-align: center; 
}
header {
    background-color: #FFED74;
}
nav {
    background-color: #E8C66A;
}
aside {
    background-color: #FFC675;
}
article {
    background-color: #E89C6C;
}
footer {
    background-color: #FF957E;
}
section {
    background-color: #E89C6C;
}


.header_text{
    display: inline;
    font-weight: bold;
}

#home {
    line-height: 0.5em;
    display: inline;
    font-weight: normal;
    margin: 35px 0 0 100px;
    float: left;
}
#header_nav {
    /* display: inline; */
    /* background-color: aqua; */
    z-index: 1;
    position: relative;
    /*border-bottom: 2px solid black;*/
    height: 100px;
}

#header_name {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Shirkhand',regular;
    /* margin: 40px 0 0 75px;
    float: left;*/
    margin: 0px;
}
#header_profile {
    /* background-color: yellow; */
    margin: 40px 95px 0 0;
    float: right;
}
#header_works {
    /* background-color: yellow; */
    margin: 40px 35px 0 0px;
    float: right;
}
#header_music {
    margin: 35px 35px 0 0px;
    float: right;
}

#hero {
    /* margin: auto auto; */
    /* padding: 50px; */
    /* background-color: darkgreen; */
    overflow: hidden;
    position: relative;
    min-height: 800px;
    /* max-width: auto; */
    /* height: 90%; */
    /* width: 50%; */
}
#first {
    font-weight: bold;
    font-size:120px;
    font-family: 'Shirkhand',regular;
    /* text-align: center */
}
#profile_text{
    /* background-color: aqua; */
    /* position: relative; */
    /* size: 50% 50%; */
    /* width: min-content; */
    width:45%;
    /* padding: 0 0 3em 3em; */
    margin: 0 0 3em 3em;
    /* width: 50%;
    height: 50%; */
}
#quote{
    /* background-color: darkgreen; */
    /* width: min-content; */
    /* width:80%; */
    /* text-transform: capitalize; */
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 42px;
}
#bio{
    /* background-color: red; */
    /* width: min-content; */
    /* width: 100%;  */
    /* margin: 0%; */
    line-height: 2em;
}
#hero_image{
    position: absolute;
    /* opacity: .5; */
    z-index: -1;
    left:40%;
    top: 0%;
    /* margin: 0% 0% 0% 40%; */
    transform: rotate(90deg);
    filter: grayscale(100%);
    max-width: 75%;
    /*size: 50% 100%;*/
    /* object-fit: cover; */
    /* height:100%; */
}

@font-face{
    font-family: "Superfly";
    src: url("../fonts/SUPERFLY.TTF")
}
img{
    /* opacity: 0.5; */
    /* filter: grayscale(100%); */
    /* max-width: 50%; */
    /* right: 0px; */
    /* height: 50%; */
}
a{
    color:darkviolet;
    text-decoration: none;
    font-weight: bolder;
}
h1 {
    /* color: #ffffff; */
    /* background-color: #ffff00; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Superfly"; */
    font-size: 24px;
    font-weight: normal;
    /* text-decoration: underline; */
    text-transform: capitalize;
}
p {
font-family: 'Montserrat', sans-serif;
/* width: 75%; */
}