@font-face{
    font-family: "Superfly";
    src: url("../fonts/SUPERFLY.TTF")
}

body{
    text-align: center; 
}

a{
    color:darkviolet;
    text-decoration: none;
    font-weight: bolder;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Superfly"; */
    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
}

p {
font-family: 'Montserrat', sans-serif;
}

#hero {
    margin: auto;
    padding: 50px;
}

#first {
    font-weight: bold;
    font-size:120px;
    font-family: 'Shirkhand',regular;
}

#quote{
    width: min-content;
    width:40%;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 42px;
}

#bio{
    width: min-content;
    width: 40%; 
    line-height: 2em;
}

#hero_image{
    position: absolute;
    opacity: .5;
    z-index: -1;
    left:40%;
    top: 0%;
    transform: rotate(90deg);
    filter: grayscale(100%);
    max-width: 75%;
    object-fit: cover;
}
