body{
    text-align: center;
}
#first {
    font-weight: bold;
    font-size:48px;
    /* text-align: center */
}
#quote{
    /* text-transform: capitalize; */
    font-style: italic;
    font-size: 32px;
}
@font-face{
    font-family: "Superfly";
    src: url("../fonts/SUPERFLY.TTF")
}
img{
    opacity: 0.5;
    /* filter: grayscale(100%); */
    max-width: 50%;
    right: 0px;
    /* height: 50%; */
}
h1 {
    /* color: #0000ff; */
    /* background-color: #ffff00; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Superfly"; */
    font-size: 24px;
    font-weight: normal;
    /* text-decoration: underline; */
    text-transform: capitalize;
}